.menu {
  width: 60px;
  height: 60px;
  box-shadow: $shadow;
  border-radius: 49%;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: $shadow-hover;
  }

  .hamburger {
    margin-top: 5px;
    border-radius: 49%;
    overflow: hidden;
  }
}